*{
	padding: 0;
	margin: 0;
}
	
#footer {
	background-color: #F4F6F6;
}
	
#footer_inner {
	width: 80%;
	margin: 0 auto;
	color: #566573;
	font-weight: bold;
	height: 250px;
}
	
#footer_about, #footer_contact, #footer_help {
	padding: 10px;
	width: 40%;
	display: inline-block;
}

#footer_copyright {
/* 	height: 80%; */
	margin: 0 auto;
	text-align: center;
}