*{
	paddin: 0;
	margin: 0;
}
	
#footer {
	background-color: #F4F6F6;
}
	
#footer_inner {
	width: 80%;
	margin: 0 auto;
	color: #566573;
	font-weight: bold;
}
	
#footer_about, #footer_contact, #footer_help {
	margin-top: 30px;
	width: 30%;
	display: inline-block;
	height: 200px;
}

#footer_copyright {
	height: 80%;
	margin: 0 auto;
	text-align: center;
}