@CHARSET "UTF-8"; 
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{
	padding: 0;
	margin: 0;
}

a, a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: black ;
}

.nanum{ 
	font-family: 'NanumSquare';
	font-weight: bold;
}

.nanum_m{ 
	font-family: 'Nanum Gothic', serif;
	font-size: 0.8em;
}

#header {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	height: 80px;
/* 	border: 1px solid blue; */
}

#header_logo {
	position: absolute;
    top: 50px;
    left: 12%;
    height: 80px;
}

#header_menu {
	width: 100%;
/* 	margin: 0 auto; */
/* 	border: 1px dotted black; */
	text-align: center;
	line-height: 50px;
	background-color: #ffffff; /* #007eff; */
	color: black;
	font-size: 1.3em;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
}

#role {
	width: 100%;
	text-align: right;
	margin: 0 auto;
/* 	border: 1px dotted black; */
	line-height: 40px;
	background-color: #ffffff;/* #007eff; */
	color: black;
}

#logoutBtn {
	
}

/* #header_search {
	width: 50%;
	text-align: center;
	border: 5px solid #007eff;
	height: 40px;
	margin: 0 auto;
}

#header_searchtext {
	position: absolute;
	width: 300px;
}

#header_searchbtn {
	position: relative;
	float: right;
	vertical-align: middle;
    border: 1px solid red;
    float: right;
}
 */
 .search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #007eff;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #434343;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #007eff;
  background: #007eff;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.header_search{
  width: 50%;
  margin: 0 auto;
}

.pop-layer .pop-container {
  padding: 20px 25px;
}

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px;
}

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  text-align: center;
}

.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: auto;
  background-color: #fff;
  border: 10px solid #007eff;
  z-index: 10;
}

.login-layer, .regist-layer{
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.login-layer .login-Bg, .regist-layer .regist-Bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.login-layer .pop-layer, .regist-layer .pop-layer{
  display: block;
}

a.btn-layerClose, a.btn-regist {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #007eff;
  background-color: #007eff;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-naver {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #19ce60;
  background-color: #19ce60;
  font-size: 13px;
  color: #ffffff;
  line-height: 25px;
}

a.btn-kakao {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #fae100;
  background-color: #fae100;
  font-size: 13px;
  color: #3b1e1e;
  line-height: 25px;
}

a.btn-google {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #ea4335;
  background-color: #ea4335;
  font-size: 13px;
  color: #ffffff;
  line-height: 25px;
}

.popup {
	margin: 0 auto;
	text-align: center;
	font-family: 'NanumSquare';
	font-size: 0.9em;
}

#loginButton {
	background-color: #007eff;
	border: none;
    padding: 15px 0;
    text-align: center;
    color: #ffffff;
}

#loginChk {
	text-align: center;
}

.pop-conts #registForm th {
	font-weight: normal;
}

.pop-conts #registForm td {
	vertical-align: top;
	text-align: left;
}

#registForm input {
	height: 25px;
	border: 0px;
	background-color: #eeeeee;
}

.btn0 {
  display: inline-block;
  height: 27px;
  padding: 0 14px 0;
  border: 1px solid #007eff;
  background-color: #007eff;
  font-size: 13px;
  color: #fff;
  line-height: 27px;
}

#bell {
	margin-top: 2px;
	cursor: pointer;
}

#bell_count{
	font-family: 'NanumSquare';
	font-size: 18px;
	color: red;
	font-weight: bold;	
	margin-left: -5px;
	margin-top: -10px;
}

/* #logoutBtn{
	margin-top: 5px;
	width: 60px;
	height: 20px;
	border: none;
	background-color: #1976D2;
	border-radius: 3px;
	cursor: pointer;
	color: #ffffff;
} */

