@CHARSET "UTF-8"; 
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

*{
	paddin: 0;
	margin: 0;
}

.nanum{ 
	font-family: 'NanumSquare';
}

.dim-layer{
  display: block;
}
	
#header {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	height: 80px;
/* 	border: 1px solid blue; */
}

#header_logo {
	position: absolute;
    top: 50px;
    left: 12%;
    height: 80px;
}

#header_menu {
	width: 100%;
/* 	margin: 0 auto; */
/* 	border: 1px dotted black; */
	text-align: center;
	line-height: 50px;
	background-color: #007eff;
	color: #ffffff;
	font-size: 1.5em;
}

#role {
	width: 100%;
	text-align: right;
	margin: 0 auto;
/* 	border: 1px dotted black; */
	line-height: 40px;
	background-color: #007eff;
	color: #ffffff;
}

#header_search {
	width: 90%;
	text-align: center;
/* 	margin: 0 auto; */
	border: 1px dotted black;
	height: 40px;
	float: right;
}

.pop-layer .pop-container {
  padding: 20px 25px;
}

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px;
}

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: auto;
  background-color: #fff;
  border: 5px solid #3571B5;
  z-index: 10;
}

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}