@CHARSET "UTF-8"; 
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

*{
	paddin: 0;
	margin: 0;
}

a, a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: #ffffff;
}

.nanum{ 
	font-family: 'NanumSquare';
}

#header {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	height: 80px;
/* 	border: 1px solid blue; */
}

#header_logo {
	position: absolute;
    top: 50px;
    left: 12%;
    height: 80px;
}

#header_menu {
	width: 100%;
/* 	margin: 0 auto; */
/* 	border: 1px dotted black; */
	text-align: center;
	line-height: 50px;
	background-color: #007eff;
	color: #ffffff;
	font-size: 1.5em;
}

#role {
	width: 100%;
	text-align: right;
	margin: 0 auto;
/* 	border: 1px dotted black; */
	line-height: 40px;
	background-color: #007eff;
	color: #ffffff;
}

#header_search {
	width: 90%;
	text-align: center;
/* 	margin: 0 auto; */
	border: 1px dotted black;
	height: 40px;
	float: right;
}

.pop-layer .pop-container {
  padding: 20px 25px;
}

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px;
}

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  text-align: center;
}

.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: auto;
  background-color: #fff;
  border: 10px solid #007eff;
  z-index: 10;
}

.login-layer, .regist-layer{
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.login-layer .login-Bg, .regist-layer .regist-Bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.login-layer .pop-layer, .regist-layer .pop-layer{
  display: block;
}

a.btn-layerClose, a.btn-regist {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #007eff;
  background-color: #007eff;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

.popup {
	margin: 0 auto;
	text-align: center;
}

#loginButton {
	background-color: #007eff;
	border: none;
    padding: 15px 0;
    text-align: center;
    color: #ffffff;
}

#loginChk {
	text-align: center;
}