<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="billDto">

	<resultMap type="billDto" id="billDto">
		<result property="bill_number" column="BILL_NUMBER" />
		<result property="bill_seq" column="BILL_SEQ" />
		<result property="bill_type" column="BILL_TYPE" />
		<result property="bill_name" column="BILL_NAME" />
		<result property="bill_proposer" column="BILL_PROPOSER" />
		<result property="propose_date" column="PROPOSE_DATE" />
		<result property="decide_date" column="DECIDE_DATE" />
		<result property="decide_result" column="DECIDE_RESULT" />
		<result property="bill_content" column="BILL_CONTENT" />
		<result property="content_address" column="CONTENT_ADDRESS" />
		<result property="bill_status" column="BILL_STATUS" />
	</resultMap>

	<select id="billList" resultType="billDto"
		parameterType="com.jungchiro.poli.board.model.dto.PagingDto">
		SELECT A.* FROM
		(SELECT B.*, ROWNUM AS RNUM FROM (SELECT
		* FROM BILL ORDER BY
		BILL_SEQ
		DESC)B)A
		WHERE RNUM BETWEEN #{rowStart} AND
		#{rowEnd}
		ORDER BY
		BILL_SEQ DESC
	</select>

	<select id="listCount" resultType="int">
	<![CDATA[
		SELECT COUNT(BILL_SEQ)
		FROM BILL
		WHERE BILL_SEQ > 0
	]]>
	</select>

</mapper>