<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardDto">

	<resultMap type="boardDto" id="boardDto">
		<result property="board_seq" column="BOARD_SEQ" />
		<result property="member_seq" column="MEMBER_SEQ" />
		<result property="board_category" column="BOARD_CATEGORY" />
		<result property="board_title" column="BOARD_TITLE" />
		<result property="board_content" column="BOARD_CONTENT" />
		<result property="board_img1" column="BOARD_IMG1" />
		<result property="board_img2" column="BOARD_IMG2" />
		<result property="board_date" column="BOARD_DATE" />
		<result property="board_count" column="BOARD_COUNT" />

	</resultMap>

	<select id="boardList" resultType="boardDto"
		parameterType="com.jungchiro.poli.board.model.dto.SearchDto">

		SELECT A.* FROM
		(SELECT B.*, ROWNUM AS RNUM FROM (SELECT * FROM BOARD ORDER BY BOARD_SEQ
		DESC)B
		WHERE 1=1
		<include refid="search"></include>
		)A
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BOARD_SEQ DESC


	</select>

	<select id="boardDetail" parameterType="int"
		resultType="boardDto">

		SELECT
		BOARD_SEQ, MEMBER_SEQ, BOARD_CATEGORY, BOARD_TITLE,
		BOARD_CONTENT,
		BOARD_IMG1, BOARD_IMG2, BOARD_DATE, BOARD_COUNT
		FROM
		BOARD WHERE
		BOARD_SEQ
		= #{board_seq}

	</select>

	<insert id="boardInsert" parameterType="boardDto">

		INSERT INTO BOARD
		(BOARD_SEQ, MEMBER_SEQ, BOARD_CATEGORY, BOARD_TITLE,
		BOARD_CONTENT,
		BOARD_IMG1, BOARD_IMG2, BOARD_DATE, BOARD_COUNT) VALUES
		(BOARD_SEQ.NEXTVAL, 1, #{board_category},
		#{board_title},
		#{board_content}, NULL, NULL, SYSDATE, 0 )

	</insert>

	<update id="boardUpdate" parameterType="boardDto">

		UPDATE BOARD
		SET
		BOARD_CATEGORY = #{board_category}BOARD_TITLE=#{board_title},
		BOARD_CONTENT=#{board_content},
		WHERE
		BOARD_SEQ=#{board_seq}

	</update>

	<delete id="boardDelete" parameterType="int">

		DELELTE FROM BOARD WHERE
		BOARD_SEQ=#{board_seq}

	</delete>

	<select id="listCount"
		parameterType="com.jungchiro.poli.board.model.dto.SearchDto"
		resultType="int">
		SELECT COUNT(BOARD_SEQ)
		FROM BOARD
		WHERE 1=1
		<include refid="search"></include>
		AND BOARD_SEQ > 0
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND BOARD_TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND B0ARD_CONTENT LIKE '%' || #{keyword} || '%'</if>
			<!--<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} 
				|| '%'</if> -->
			<if test="searchType == 'ct'.toString()">AND BOARD_CATEGORY LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (BOARD_TITLE LIKE '%' || #{keyword} || '%') or
				(BOARD_CONTENT
				LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
</mapper>