<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="replyDto">

	<resultMap type="replyDto" id="replyMap">
		<result property="reply_seq" column="REPLY_SEQ" />
		<result property="board_seq" column="BOARD_SEQ" />
		<result property="member_seq" column="MEMBER_SEQ" />
		<result property="reply_content" column="REPLY_CONTENT" />
		<result property="reply_date" column="REPLY_DATE" />
		<result property="reply_isread" column="REPLY_ISREAD"/>
		<result property="member_id" column="MEMBER_ID"/>

	</resultMap>

	<select id="replyList" parameterType="int" resultType="replyDto">

		SELECT *
		FROM REPLY JOIN MEMBER USING(MEMBER_SEQ) WHERE BOARD_SEQ = #{board_seq}

	</select>

	<insert id="replyInsert" parameterType="replyDto">

		INSERT INTO REPLY VALUES
		(REPLY_SEQ.NEXTVAL, #{board_seq}, #{member_seq},
		#{reply_content}, SYSDATE, 'N')

	</insert>

	<update id="replyUpdate" parameterType="replyDto">

		UPDATE REPLY SET REPLY_CONTENT = #{reply_content}, REPLY_DATE = SYSDATE 
		WHERE
		REPLY_SEQ = #{reply_seq}

	</update>

	<delete id="replyDelete" parameterType="int">
	
		DELETE FROM REPLY WHERE REPLY_SEQ = #{reply_seq}
	
	</delete>
	
</mapper>