<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.jungchiro.poli.login.model.dto.LoginDto" alias="loginDto"/>
		<typeAlias type="com.jungchiro.poli.chat.model.dto.ChatDto" alias="chatDto"/>
		<typeAlias type="com.jungchiro.poli.chat.model.dto.MessageDto" alias="messageDto"/>
		<typeAlias type="com.jungchiro.poli.notification.model.dto.NotificationDto" alias="notificationDto"/>
		<typeAlias type="com.jungchiro.poli.mypage.dto.BoardFavDto" alias="board_favDto"/>
		<typeAlias type="com.jungchiro.poli.mypage.dto.BillFavDto" alias="bill_favDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/login-mapper.xml"/>
		<mapper resource="/mybatis/regist-mapper.xml"/>
		<mapper resource="/mybatis/chat-mapper.xml"/>
		<mapper resource="/mybatis/message-mapper.xml"/>
		<mapper resource="/mybatis/notification-mapper.xml"/>
		<mapper resource="/mybatis/board_fav-mapper.xml"/>
		<mapper resource="/mybatis/bill_fav-mapper.xml"/>
	</mappers>

</configuration>
